@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --bg-color: #fce2e2;
    --border-color: black;
    --surface-color-normal: white;
    --surface-color-hover: #e1e1e1;
    --problem-color: #F50202;
    --process-color: #F5A302;
    --solution-color: #13D402;
    --surface-border-normal: 2px 4px 4px 2px;
    --surface-border-hover: 4px 2px 2px 4px;
    --font: Inter
    --animation: 100ms ease-in-out;
  }

html{
    background-color: #fce2e2;
    margin: 0%;
    background-image: url("/images/about/me.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    background-attachment: fixed;
}
.content{
    align-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a{
    font-family: var(--font);
    font-weight: 500;
}

.nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    padding: 10px;
    background-color: var(--surface-color-normal);
    border-color: var(--border-color);
    border-width: var(--surface-border-normal);
    border-color: var(--border-color);
    border-style: solid;
}

.nav a{
    border-color: var(--border-color);
    border-width: var(--surface-border-normal);
    border-color: var(--border-color);
    border-style: solid;
    transition: var(--animation);
}

.nav a:hover{
    background-color: var(--surface-color-hover);
    border-width: var(--surface-border-hover);
}

.nav.home{
    background-color: var(--surface-color-normal);
}

.navproblem{
    background-color: var(--problem-color);
}

.navprocess{
    background-color: var(--process-color);
}

.navresult{
    background-color: var(--solution-color);
}

.navWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 34px;
    font-family: var(--font);
}

h2{
    text-align: center;
    font-size: 22px;
    font-family: var(--font);
    font-weight: normal;
}

h3{
    text-align: center;
    font-size: large;
    font-family: var(--font);
    font-weight: normal;
}

p{
    font-size: medium;
    font-family: var(--font);
    line-height: 1.3em;
}

.info{
    padding: 10px 30px 30px 30px;
    background-color: white;
    border-color: black;
    border-width: 2px 4px 4px 2px;
    border-color: black;
    border-style: solid;
}

.header{
    padding: 44% 10%;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 200px;
    width: auto;
    position: static;
}

.links a{
    max-width: 100%;
    padding: 1px;
}

.social {
    background-color: white;
    border-color: black;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-width: 2px 4px 4px 2px;
    border-color: black;
    border-style: solid;
    height: 45px;
    width: 45px;
    padding: 20px;
    margin: 8px;
    transition: var(--animation);
}

.social:hover{
    background-color: #e1e1e1;
    border-width: 4px 2px 2px 4px;
}

.footer {
    
    display: flex;
    justify-content: center;
}