:root {
  --shadow-normal: drop-shadow(6px 6px 0px #000);
  --shadow-hover: drop-shadow(0px 0px 0px #000);

  --surface-border-static: 0.2em 0.2em 0.2em 0.2em;
  --surface-border-normal: 0.2em 0.4em 0.4em 0.2em;
  --surface-border-hover: 0.4em 0.2em 0.2em 0.4em;

  --edge-size: 1em;

  --html-sizing: unset;
  --footer-position: unset;
  --dark-filter: unset;
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  :root {
    --footer-position: absolute;
    --body-height: 100%;

    --html-sizing: 100%;
    --body-spacing: space-around;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --html-sizing: 100%;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  :root {
    --html-sizing: 100%;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  display: flex;
  height: var(--html-sizing);
  flex-direction: column;
  background-color: var(--bg-color);
  margin: 0%;
  transition: var(--animation);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: var(--body-spacing);
  row-gap: 20px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  height: 40px;
  width: 98vw;
  padding-inline: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
}

.nav-right,
.nav-left {
  display: flex;
  gap: 10px;
}
a:link {
  text-decoration: none;
}

.nav-text:hover {
  font-weight: bold;
}
.section {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  justify-items: center;
  padding: 0px;
  row-gap: 20px;
  min-height: 100%;
  max-height: 200vh;
  width: 100%;
  max-width: 1000px;
}

#header {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  justify-items: center;
  padding: 0px;
  row-gap: 20px;
  min-height: 100%;
  max-height: 200vh;
  width: 100%;
  max-width: 1000px;
}

.left_img,
.right_img {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 50vh;
  width: 50vw;
  z-index: -1;
}

.left_img {
  background-position: left;
  top: 2%;
  left: 2%;
  opacity: 0.2;
  background-image: url(/images/about/about-bg-right.svg);
}
.right_img {
  background-position: right;
  bottom: 2%;
  right: 2%;
  opacity: 0.2;
  background-image: url(/images/about/about-bg-left.svg);
}

#intro {
  max-width: 500px;
  padding: 20px;
  text-decoration: none;
  z-index: 1;
}

#intro > p {
  text-shadow: 0 0 10px var(--bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 5px 10px var(--bg-color);
}

#intro-title {
  gap: 10px;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
}
#intro-title > h1 {
  line-height: 2px;
  text-shadow: 0 0 10px var(--bg-color);
}
#intro-tagline,
#intro-title > p {
  font-weight: 600;
  font-size: var(--p-size);
}

#header > .a {
  width: 100vw;
  align-self: center;
  justify-self: center;
}

.links a {
  max-width: 100%;
  padding: 1px;
}

.social {
  /* layout */
  min-width: 53px;
  min-height: 53px;
  max-height: 45px;
  max-width: 45px;
  /* padding: 20px; */
  aspect-ratio: 1/1;
  margin: 4px;
  /* styling */
  transition: var(--animation);
  text-decoration: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-width: var(--surface-border-static);
  border-color: transparent;
  border-style: solid;
}
.icon {
  /* background-color: red; */
  justify-self: stretch;
  align-self: stretch;
  filter: var(--dark-filter);
}

.social:hover {
  filter: var(--shadow-hover);
  background: var(--bg-color);
  border-color: var(--border-color);
  border-width: var(--surface-border-static);
  border-style: solid;
  transform: var(--transform);
  transition: var(--animation);
}

.social:active {
  transform: var(--activeTransform);
}

.footer > a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
}

.footer > a > h2 {
  transform: rotate(180deg);
}

.footer {
  scroll-snap-align: end;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: var(--text-color);
  opacity: 60%;
  padding: 20px;
}

.fadeup {
  transform: translateY(50px);
  opacity: 0;
  /* transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: linear; */
  transition: transform 1s linear, opacity 1s linear, var(--animation);
}
.in-view {
  transform: none;
  opacity: 1;
}
