:root {
  --bg-color: #df8889;
  --card-bkg: #fff0f1;
  --error-color: transparent;
  --border-color: black;
  --button-color: #d45c5f;
  --surface-color-normal: white;
  --surface-color-hover: white;

  --honeycomb-bg-color: #f9da74;
  --honeycomb-card-color: #fff5a6;

  --vocalamp-bg-color: #c1f5b2;
  --vocalamp-card-color: #dcfdd3;

  --godart-bg-color: #92bbf2;
  --godart-card-color: #d0dff4;

  --shadow-normal: drop-shadow(6px 6px 0px #000);
  --shadow-hover: drop-shadow(0px 0px 0px #000);

  --surface-border-static: 0.2em 0.2em 0.2em 0.2em;
  --surface-border-normal: 0.2em 0.4em 0.4em 0.2em;
  --surface-border-hover: 0.4em 0.2em 0.2em 0.4em;

  --edge-size: 1em;

  --html-sizing: unset;
  --footer-position: unset;
  --dark-filter: unset;
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  :root {
    --footer-position: absolute;
    --body-height: 100%;

    --html-sizing: 100%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --html-sizing: 100%;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  :root {
    --html-sizing: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;

    --bg-color: #0c0c0c;

    --card-bkg: #000000;

    --button-color: #252525;

    --surface-color-normal: black;

    --surface-color-hover: black;

    --dark-filter: invert(100%);

    --honeycomb-bg-color: #241305;
    --honeycomb-card-color: #160e08;

    --vocalamp-bg-color: #001508;
    --vocalamp-card-color: #223729;

    --godart-bg-color: #000f22;
    --godart-card-color: #161d28;

    --rebirth-bg-color: #001317;
    --rebirth-card-color: #16282d;

    --whackamole-bg-color: #1b1425;
    --whackamole-card-color: #1e1d24;

    --spotify-bg-color: #0d1610;
    --spotify-card-color: #161b18;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color);
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  position: relative;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* animation: fade_in 1s cubic-bezier(0.05, 0.8, 0.1, 0.95); */
}

.section {
  margin: 0;
  padding: 0;
  scroll-snap-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.project {
  min-height: 50vh;
}

#intro {
  padding: 20px;
  text-decoration: none;
  z-index: 1;
}

#intro-title {
  gap: 10px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#intro-title > h1 {
  line-height: 2px;
}

#intro-tagline,
#intro-title > p {
  font-weight: 600;
}

#header > .a {
  width: 100vw;
  align-self: center;
  justify-self: center;
}

#header > .button {
  background-color: #000;
  z-index: 2;
}

#down_arrow {
  align-self: center;
  justify-self: center;
  position: absolute;
  transform: translate(-10px, 0px);
  bottom: 20%;
  font-size: 40px;
  animation: tease 2s cubic-bezier(0.05, 0.8, 0.1, 0.95) 2s infinite;
  animation: tease 3s cubic-bezier(0.15, 1.8, 0.5, 1.95) 2s infinite;
}

.left_img,
.right_img {
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: absolute;
  height: 50vh;
  width: 50vw;
  filter: var(--dark-filter);
  z-index: 0;
}

.left_img {
  background-position: left;
  top: -2%;
  left: -2%;
}
.right_img {
  background-position: right;
  bottom: -2%;
  right: -2%;
}

#header > .left_img {
  /* background-image: url('../images/gifs/star.gif'); */
  filter: brightness(-300%);
  max-width: 400px;
}
#header > .right_img {
  right: unset;
  height: 70vmax;
  width: 70vmax;
  bottom: 0px;
  opacity: 0.3;
  background-image: url('../images/gifs/portrait.gif');
  background-position: bottom;
  /* filter: brightness(200%); */
  max-width: 1200px;
}

#honeycomb > .left_img {
  background-image: var(--honeycomb_bkg_left);
}
#honeycomb > .right_img {
  background-image: var(--honeycomb_bkg_right);
}

#vocalamp > .left_img {
  background-image: var(--vocalamp_bkg_left);
}
#vocalamp > .right_img {
  background-image: var(--vocalamp_bkg_right);
}

#godart > .left_img {
  background-image: var(--godart_bkg_left);
}
#godart > .right_img {
  background-image: var(--godart_bkg_right);
}

#rebirth > .left_img {
  background-image: var(--rebirth_bkg_left);
}
#rebirth > .right_img {
  background-image: var(--rebirth_bkg_right);
}

#whackamole > .left_img {
  background-image: var(--whackamole_bkg_left);
}
#whackamole > .right_img {
  background-image: var(--whackamole_bkg_right);
}

#spotify > .left_img {
  background-image: var(--spotify_bkg_left);
}
#spotify > .right_img {
  background-image: var(--spotify_bkg_right);
}

#honeycomb {
  background-color: var(--honeycomb-bg-color);
}
#honeycomb > .project_card {
  background-color: var(--honeycomb-card-color);
}
#vocalamp {
  background-color: var(--vocalamp-bg-color);
}
#vocalamp > .project_card {
  background-color: var(--vocalamp-card-color);
}
#godart {
  background-color: var(--godart-bg-color);
}
#godart > .project_card {
  background-color: var(--godart-card-color);
}
#rebirth {
  background-color: var(--rebirth-bg-color);
}
#rebirth > .project_card {
  background-color: var(--rebirth-card-color);
}
#whackamole {
  background-color: var(--whackamole-bg-color);
}
#whackamole > .project_card {
  background-color: var(--whackamole-card-color);
}
#spotify {
  background-color: var(--spotify-bg-color);
}
#spotify > .project_card {
  background-color: var(--spotify-card-color);
}

.project_card {
  text-decoration: none;
  overflow: hidden;
  background-image: var(--card-bkg-img);
  background-color: var(--card-bkg);
  background-repeat: repeat;
  padding: 10px 40px 40px 40px;
  width: 40%;
  max-width: 890px;
  width: clamp(300px, 40%, 890px);
  border-color: var(--border-color);
  border-width: var(--surface-border-static);
  border-style: solid;
  filter: var(--shadow-normal);
  transition: var(--animation);
}

.project_card:hover {
  cursor: pointer;
  transform: var(--transform);
  filter: var(--shadow-hover);
}

.footer > a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
}

.footer > a > h2 {
  transform: rotate(180deg);
}

.footer {
  scroll-snap-align: end;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--p-size);
  color: var(--text-color);
  opacity: 60%;
  padding: 20px;
  /* bottom: 10px; */
}
