:root {
  --honeycomb-bg-color: #e9944a;
  --honeycomb-fg-color: #f5f5da;

  --vocalamp-bg-color: #1d7948;
  --vocalamp-fg-color: #ddea90;

  --godart-bg-color: #87b1ac;
  --godart-fg-color: #19184d;

  --shadow-normal: drop-shadow(6px 6px 0px #000);
  --shadow-hover: drop-shadow(0px 0px 0px #000);

  --surface-border-static: 0.2em 0.2em 0.2em 0.2em;
  --surface-border-normal: 0.2em 0.4em 0.4em 0.2em;
  --surface-border-hover: 0.4em 0.2em 0.2em 0.4em;

  --edge-size: 1em;

  --html-sizing: unset;
  --footer-position: unset;
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  :root {
    --footer-position: absolute;
    --body-height: 100vh;
    --html-sizing: 100%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --html-sizing: 100%;
    --body-height: 90vh;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  :root {
    --html-sizing: 100%;
    --body-height: 90vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --honeycomb-bg-color: #241305;
    --honeycomb-card-color: #160e08;

    --vocalamp-bg-color: #001508;
    --vocalamp-card-color: #223729;

    --godart-bg-color: #000f22;
    --godart-card-color: #161d28;

    --rebirth-bg-color: #001317;
    --rebirth-card-color: #16282d;

    --whackamole-bg-color: #1b1425;
    --whackamole-card-color: #1e1d24;

    --spotify-bg-color: #0d1610;
    --spotify-card-color: #161b18;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  position: relative;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 2px;
}

.section {
  margin: 0;
  padding: 0;
  scroll-snap-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.project {
  min-height: 50vh;
}

#intro {
  padding: 20px;
  text-decoration: none;
  z-index: 1;
  transition: var(--animation);
}

#intro:hover {
  cursor: pointer;
  transform: var(--transform);
}

#intro-title {
  gap: 10px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#intro-title > h1 {
  line-height: 2px;
  color: var(--fg-color);
}

#intro-tagline,
#intro-title > p {
  font-weight: 600;
  color: var(--fg-color);
}

.nav-text {
  color: var(--fg-color);
}

/* HEADER */

#header > .a {
  width: 100vw;
  align-self: center;
  justify-self: center;
}

#header > .button {
  background-color: #000;
  z-index: 2;
}

#down_arrow {
  color: var(--fg-color);
  align-self: center;
  justify-self: center;
  position: absolute;
  transform: translate(-10px, 0px);
  bottom: 20%;
  font-size: 40px;
  animation: tease 3s cubic-bezier(0.15, 1.8, 0.5, 1.95) 2s infinite;
}

.divider {
  height: 20px;
  color: white;
  background-color: white;
}

.left_img,
.right_img {
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: absolute;
  height: 40vh;
  width: 40vw;
  filter: var(--dark-filter);
  z-index: 0;
}

.left_img {
  background-position: left;
  top: -4%;
  left: -2%;
  opacity: 0.25;
  transition: var(--animation);
}
.right_img {
  background-position: right;
  bottom: -4%;
  right: -2%;
  opacity: 0.25;
  transition: var(--animation);
}

.project:hover > .left_img {
  top: 2%;
  left: 4%;
  opacity: 0.4;
}
.project:hover > .right_img {
  bottom: 2%;
  right: 4%;
  opacity: 0.4;
}

.project:hover > .project_card {
  cursor: pointer;
  transform: var(--transform);
}

#header > .left_img {
  /* background-image: url('../images/gifs/star.gif'); */
  filter: brightness(-300%);
  max-width: 400px;
}
#header > .right_img {
  right: unset;
  height: 60vmax;
  width: 60vmax;
  bottom: 0px;
  filter: invert(8%) sepia(62%) saturate(6368%) hue-rotate(239deg)
    brightness(89%) contrast(91%);
  background-image: url('../images/gifs/portrait.gif');
  background-position: bottom;
  max-width: 1200px;
}

/* HONEYCOMB */

#honeycomb > .left_img {
  background-image: var(--honeycomb_bkg_left);
}
#honeycomb > .right_img {
  background-image: var(--honeycomb_bkg_right);
}

#honeycomb {
  background-color: var(--honeycomb-bg-color);
}
#honeycomb > .project_card > .project_title,
#honeycomb > .project_card > .project_tagline {
  color: var(--honeycomb-fg-color);
}

#honeycomb > .left_img path,
#honeycomb > .right_img path {
  fill: var(--honeycomb-fg-color);
}

/* VOCALAMP */

#vocalamp > .left_img {
  background-image: var(--vocalamp_bkg_left);
}
#vocalamp > .right_img {
  background-image: var(--vocalamp_bkg_right);
}

#vocalamp {
  background-color: var(--vocalamp-bg-color);
}
#vocalamp > .project_card > .project_title,
#vocalamp > .project_card > .project_tagline {
  color: var(--vocalamp-fg-color);
}

/* GODART */

#godart > .left_img {
  background-image: var(--godart_bkg_left);
}
#godart > .right_img {
  background-image: var(--godart_bkg_right);
}

#godart {
  background-color: var(--godart-bg-color);
}
#godart > .project_card > .project_title,
#godart > .project_card > .project_tagline {
  color: var(--godart-fg-color);
}

/* CARD */

.project_card {
  text-decoration: none;
  overflow: hidden;
  /* background-image: var(--card-bkg-img);
  background-color: var(--card-bkg);
  background-repeat: repeat; */
  padding: 10px 40px 40px 40px;
  width: 40%;
  max-width: 890px;
  width: clamp(300px, 40%, 890px);
  /* border-color: var(--border-color);
  border-width: var(--surface-border-static);
  border-style: solid;
  filter: var(--shadow-normal); */
  transition: var(--animation);
}

/* .project_card:hover {
  cursor: pointer;
  transform: var(--transform);
} */

.footer > a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
}

.footer > a > h2 {
  transform: rotate(180deg);
}

.footer > a > h2,
.footer > a > p,
.footer > p {
  color: var(--fg-color);
}

.footer {
  scroll-snap-align: end;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--p-size);
  color: var(--text-color);
  opacity: 60%;
  padding: 20px;
  /* bottom: 10px; */
}
