:root {
  --honeycomb-bg-color: #e9944a;
  --honeycomb-fg-color: #f5f5da;

  --vocalamp-bg-color: #1d7948;
  --vocalamp-fg-color: #ddea90;

  --godart-bg-color: #87b1ac;
  --godart-fg-color: #19184d;

  --shadow-normal: drop-shadow(6px 6px 0px #000);
  --shadow-hover: drop-shadow(0px 0px 0px #000);

  --surface-border-static: 0.2em 0.2em 0.2em 0.2em;
  --surface-border-normal: 0.2em 0.4em 0.4em 0.2em;
  --surface-border-hover: 0.4em 0.2em 0.2em 0.4em;

  --edge-size: 1em;

  --html-sizing: unset;
  --footer-position: unset;

  --scroll: 0;

  --meebo-vertical-alignment: 0px;
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  :root {
    --footer-position: absolute;
    --body-height: 100dvh;
    --html-sizing: 100%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --html-sizing: 100%;
    --body-height: 94dvh;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  :root {
    --html-sizing: 100%;
    --body-height: 94dvh;
    --meebo-vertical-alignment: 100vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --honeycomb-bg-color: #241305;
    --honeycomb-card-color: #160e08;

    --vocalamp-bg-color: #001508;
    --vocalamp-card-color: #223729;

    --godart-bg-color: #000f22;
    --godart-card-color: #161d28;

    --rebirth-bg-color: #001317;
    --rebirth-card-color: #16282d;

    --whackamole-bg-color: #1b1425;
    --whackamole-card-color: #1e1d24;

    --spotify-bg-color: #0d1610;
    --spotify-card-color: #161b18;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--body-color);
  scroll-behavior: smooth;
  position: relative;
}
body {
  height: var(--body-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 2px;
}

.section {
  margin: 0;
  padding: 0;
  scroll-snap-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: var(--body-height);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.project {
  min-height: 50vh;
}

#intro {
  padding: 20px;
  text-decoration: none;
  z-index: 1;
  transition: var(--animation);
}

#header {
  transition: var(--animation);
}

/* #header:hover {
  border: var(--body-color) 40px solid;
} */

#intro:hover {
  cursor: pointer;
  transform: var(--transform);
}

#intro:active {
  cursor: pointer;
  transform: var(--activeTransform);
}

#intro-title {
  gap: 10px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#intro-title > h1 {
  line-height: 2px;
  color: var(--fg-color);
}

#intro-tagline,
#intro-title > p {
  font-weight: 600;
  color: var(--fg-color);
}

.nav-text {
  color: var(--fg-color);
}

/* HEADER */

#header > .a {
  width: 100vw;
  align-self: center;
  justify-self: center;
}

#header > .button {
  background-color: #000;
  z-index: 2;
}

#down_arrow {
  color: var(--fg-color);
  align-self: center;
  justify-self: center;
  position: absolute;
  transform: translate(-10px, 0px);
  transition: var(--animation);
  bottom: 20%;
  font-size: 40px;
  animation: tease 3s cubic-bezier(0.15, 1.8, 0.5, 1.95) 2s infinite;
}

#down_arrow:hover {
  transform: var(--transform);
}

#down_arrow:active {
  transform: var(--activeTransform);
}

.divider {
  height: 20px;
  color: var(--body-color);
  background-color: var(--body-color);
}

.left_img,
.right_img {
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: absolute;
  height: 40vh;
  width: 40vw;
  z-index: 0;
}

.left_img {
  background-position: left;
  top: -4%;
  left: -2%;
  opacity: 0.25;
  transition: var(--animation);
}
.right_img {
  background-position: right;
  bottom: -4%;
  right: -2%;
  opacity: 0.25;
  transition: var(--animation);
}

.top_left_img {
  background-position: left;
  top: -4%;
  left: -2%;
  opacity: 0.25;
  transition: var(--animation);
}
.top_right_img {
  background-position: right;
  bottom: -4%;
  right: -2%;
  opacity: 0.25;
  transition: var(--animation);
}

.project {
  border: var(--body-color) 0px solid;
  transition: var(--animation);
  width: 100%;
}

.project:hover {
  border: var(--body-color) 24px solid;
  /* transform: scale(0.8); */
}

.project:hover > .left_img {
  top: 2%;
  left: 4%;
  opacity: 0.4;
  transform: rotate(5deg);
}
.project:hover > .right_img {
  bottom: 2%;
  right: 4%;
  opacity: 0.4;
  transform: rotate(5deg);
}

.project:hover > .project_card {
  cursor: pointer;
  transform: var(--transform);
}

.project:focus-within {
  border: var(--body-color) 24px solid;
  /* transform: scale(0.8); */
}

.project:focus-within > .left_img {
  top: 2%;
  left: 4%;
  opacity: 0.4;
  transform: rotate(5deg);
}
.project:focus-within > .right_img {
  bottom: 2%;
  right: 4%;
  opacity: 0.4;
  transform: rotate(5deg);
}

.project:focus-within > .project_card {
  cursor: pointer;
  transform: var(--transform);
}

.project:active > .project_card {
  cursor: pointer;
  transform: var(--activeTransform);
}

.project:active {
  border: var(--body-color) 30px solid;
  /* transform: scale(0.8); */
}

.project:active > .left_img {
  top: 4%;
  left: 8%;
  opacity: 0.2;
  transform: rotate(8deg);
}
.project:active > .right_img {
  bottom: 4%;
  right: 8%;
  opacity: 0.2;
  transform: rotate(8deg);
}

#header {
  position: relative;
  background-color: var(--bg-color);
}

#header > .top_right_img {
  right: 0px;
  height: 60vmax;
  width: 20vmax;
  bottom: var(--meebo-vertical-alignment);
  position: absolute;
  filter: var(--dark-filter);
  background-image: url("../images/gifs/meebo.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 1200px;
  transform: scale(calc(1 - (var(--scroll) / 100)));
  translate: calc(5px * var(--scroll) * 100 / 50) 0;
}
#header > .right_img {
  right: unset;
  height: 60vmax;
  width: 60vmax;
  bottom: 0px;
  position: absolute;
  filter: var(--dark-filter);
  background-image: url("../images/gifs/portrait.gif");
  background-position: bottom;
  max-width: 1200px;
  transform: scale(calc(1 - (var(--scroll) / 100)));
  translate: 0 calc(5px * var(--scroll) * 100 / 50);
}

/* NDC */

#ndconnect {
  background-color: var(--ndc-bg-color);
}
#ndconnect > .project_card > .project_title,
#ndconnect > .project_card > .project_tagline {
  color: var(--ndc-fg-color);
}

#ndconnect > .left_img path,
#ndconnect > .right_img path {
  fill: var(--ndc-fg-color);
}

/* HONEYCOMB */

#honeycomb {
  background-color: var(--honeycomb-bg-color);
}
#honeycomb > .project_card > .project_title,
#honeycomb > .project_card > .project_tagline {
  color: var(--honeycomb-fg-color);
}

#honeycomb > .left_img path,
#honeycomb > .right_img path {
  fill: var(--honeycomb-fg-color);
}

/* VOCALAMP */

#vocalamp > .left_img path,
#vocalamp > .right_img path {
  fill: var(--vocalamp-fg-color);
}

#vocalamp {
  background-color: var(--vocalamp-bg-color);
}
#vocalamp > .project_card > .project_title,
#vocalamp > .project_card > .project_tagline {
  color: var(--vocalamp-fg-color);
}

/* GODART */

#godart > .left_img path,
#godart > .right_img path {
  fill: var(--godart-fg-color);
}

#godart {
  background-color: var(--godart-bg-color);
}
#godart > .project_card > .project_title,
#godart > .project_card > .project_tagline {
  color: var(--godart-fg-color);
}

/* CARD */

.project_card {
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: var(--card-bkg-img);
  background-color: var(--card-bkg);
  background-repeat: repeat; */
  padding: 10px 40px 40px 40px;
  width: 100%;
  height: 100%;
  /* max-width: 890px; */
  /* width: clamp(300px, 40%, 890px); */
  /* border-color: var(--border-color);
  border-width: var(--surface-border-static);
  border-style: solid;
  filter: var(--shadow-normal); */
  transition: var(--animation);
}

/* .project_card:hover {
  cursor: pointer;
  transform: var(--transform);
} */

.footer > a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
}

.footer > a > h2 {
  transform: rotate(180deg);
}

.footer > a > h2,
.footer > a > p,
.footer > p {
  color: var(--fg-color);
}

.footer {
  scroll-snap-align: end;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--p-size);
  color: var(--text-color);
  opacity: 60%;
  padding: 20px;
  /* bottom: 10px; */
}

.fadeup {
  transform: translateY(50px);
  opacity: 0;
  /* transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: linear; */
  transition: transform 1s linear, opacity 1s linear, var(--animation);
}
.in-view {
  transform: none;
  opacity: 1;
}
