:root {
  /* MATERIALS */
  --card-bkg-img: url('../images/surface_bkg.png');
  --sticky-bkg: url('../images/sticky_bkg.png');

  /* BKG IMAGES */

  --honeycomb_bkg_left: url('../images/home/honeycomb-bg-left.svg');
  --honeycomb_bkg_right: url('../images/home/honeycomb-bg-right.svg');

  --vocalamp_bkg_left: url('../images/home/vocalamp-bg-left.svg');
  --vocalamp_bkg_right: url('../images/home/vocalamp-bg-right.svg');

  --godart_bkg_left: url('../images/home/godart-bg-left.svg');
  --godart_bkg_right: url('../images/home/godart-bg-right.svg');
}
