/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Poppins:wght@800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Newake';
  src: url('../assets/Newake-Font-Demo.otf');
}

:root {
  --text-color: black;
  --body-font: 'Space Mono', monospace;
  --header-font: 'Newake';
  --header-font: 'Poppins';

  --bg-color: #df8889;
  --card-bkg: #fff0f1;
  --error-color: transparent;
  --border-color: black;
  --button-color: #d45c5f;
  --surface-color-normal: white;
  --surface-color-hover: white;

  --honeycomb-bg-color: #f9da74;
  --honeycomb-card-color: #fff5a6;

  --vocalamp-bg-color: #97eab4;
  --vocalamp-card-color: #d8f6e2;

  --godart-bg-color: #92bbf2;
  --godart-card-color: #d0dff4;

  --rebirth-bg-color: #55e0ff;
  --rebirth-card-color: #c5f4fe;

  --shadow-normal: drop-shadow(6px 6px 0px #000);
  --shadow-hover: drop-shadow(0px 0px 0px #000);

  --surface-border-static: 0.2em 0.2em 0.2em 0.2em;
  --surface-border-normal: 0.2em 0.4em 0.4em 0.2em;
  --surface-border-hover: 0.4em 0.2em 0.2em 0.4em;

  --edge-size: 1em;

  --animation: 0.5s cubic-bezier(0.05, 0.8, 0.1, 0.95);

  --card-bkg-img: url('../images/surface_bkg.png');

  --honeycomb_bkg: url('../images/home/honeycomb_bkg.png');
  --vocalamp_bkg: url('../images/home/vocalamp_bkg.png');
  --godart_bkg: url('../images/home/godart_bkg.png');
  --rebirth_bkg: url('../images/home/rebirth_bkg.png');

  --honeycomb_bkg_left: url('../images/home/honeycomb-bg-left.png');
  --honeycomb_bkg_right: url('../images/home/honeycomb-bg-right.png');

  --vocalamp_bkg_left: url('../images/home/vocalamp-bg-left.png');
  --vocalamp_bkg_right: url('../images/home/vocalamp-bg-right.png');

  --godart_bkg_left: url('../images/home/godart-bg-left.png');
  --godart_bkg_right: url('../images/home/godart-bg-right.png');

  --rebirth_bkg_left: url('../images/home/rebirth-bg-left.png');
  --rebirth_bkg_right: url('../images/home/rebirth-bg-right.png');

  --transform: rotate(-4deg) translateY(-20px) scale(1.2);

  --html-sizing: unset;
  --footer-position: unset;
  --dark-filter: unset;
}

@keyframes fade_in {
  0% {
    opacity: 0;
    /* transform: translate(0px, -20px); */

    /* transform: translate(50px, 0px); */
    /* transform: scale(1.2); */
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tease {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  :root {
    --h1-size: 5vw;
    --h2-size: 3vw;
    --h3-size: 2vw;
    --p-size: 4vw;

    --h1-size: 60px;
    --h2-size: 20px;
    --h3-size: 18px;
    --p-size: 16px;

    --h1-line: 8px;
    --h2-line: unset;
    --h3-line: 8px;
    --p-line: 1.3em;

    --footer-position: absolute;
    --body-height: 100%;

    --html-sizing: 100%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --h1-size: 6vw;
    --h2-size: 2.5vw;
    --h3-size: 2vw;
    --p-size: 1vw;

    --h1-line: 8px;
    --h2-line: unset;
    --h3-line: 8px;
    --p-line: 1.3em;

    --html-sizing: 100%;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  :root {
    --h1-size: 8vw;
    --h2-size: 4vw;
    --h3-size: 4vw;
    --p-size: 4vw;

    --h1-line: 8px;
    --h2-line: unset;
    --h3-line: 8px;
    --p-line: 1.3em;

    --html-sizing: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;

    --bg-color: #0c0c0c;

    --card-bkg: #000000;

    --button-color: #252525;

    --surface-color-normal: black;

    --surface-color-hover: black;

    --dark-filter: invert(100%);

    --honeycomb-bg-color: #171200;
    --honeycomb-card-color: #2f2c17;

    --vocalamp-bg-color: #001508;
    --vocalamp-card-color: #223729;

    --godart-bg-color: #000f22;
    --godart-card-color: #161d28;

    --rebirth-bg-color: #001317;
    --rebirth-card-color: #16282d;
  }
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  /* text-align: start; */
}

h1 {
  font-size: var(--h1-size);
  font-family: var(--header-font);
  font-weight: 900;
  /* letter-spacing: 0.2rem; */
}

h2 {
  /* color: var(--text-color);
  text-align: start; */
  font-size: var(--h2-size);
  font-family: 'Space Mono', monospace;
  font-weight: normal;
}

h3 {
  /* color: var(--text-color);
  text-align: start; */
  font-size: var(--h3-size);
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  line-height: 8px;
}

p {
  /* color: var(--text-color);
  font-size: var(--p-size); */
  font-family: 'Space Mono', monospace;
  line-height: 1.3em;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  animation: fade_in 1s cubic-bezier(0.05, 0.8, 0.1, 0.95);
}

/* body > * {
  animation: fade_in 0.5s cubic-bezier(0.05, 0.8, 0.1, 0.95);
} */

.section {
  margin: 0;
  padding: 0;
  scroll-snap-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

#intro {
  padding: 20px;
  text-decoration: none;
}

#intro-title {
  gap: 10px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#intro-title > h1 {
  line-height: 2px;
}

#down_arrow {
  position: absolute;
  bottom: 20%;
  font-size: 40px;
  animation: tease 2s cubic-bezier(0.05, 0.8, 0.1, 0.95) 2s infinite;
  animation: tease 3s cubic-bezier(0.15, 1.8, 0.5, 1.95) 2s infinite;
}

.left_img,
.right_img {
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: absolute;
  height: 50vh;
  width: 100vw;
  filter: var(--dark-filter);
}

.left_img {
  background-position: left;
  top: -2%;
  left: -2%;
}
.right_img {
  background-position: right;
  bottom: -2%;
  right: -2%;
}

#honeycomb > .left_img {
  background-image: var(--honeycomb_bkg_left);
}
#honeycomb > .right_img {
  background-image: var(--honeycomb_bkg_right);
}

#vocalamp > .left_img {
  background-image: var(--vocalamp_bkg_left);
}
#vocalamp > .right_img {
  background-image: var(--vocalamp_bkg_right);
}

#godart > .left_img {
  background-image: var(--godart_bkg_left);
}
#godart > .right_img {
  background-image: var(--godart_bkg_right);
}

#rebirth > .left_img {
  background-image: var(--rebirth_bkg_left);
}
#rebirth > .right_img {
  background-image: var(--rebirth_bkg_right);
}

#honeycomb {
  background-color: var(--honeycomb-bg-color);
}
#honeycomb > .project_card {
  background-color: var(--honeycomb-card-color);
}
#vocalamp {
  background-color: var(--vocalamp-bg-color);
}
#vocalamp > .project_card {
  background-color: var(--vocalamp-card-color);
}
#godart {
  background-color: var(--godart-bg-color);
}
#godart > .project_card {
  background-color: var(--godart-card-color);
}
#rebirth {
  background-color: var(--rebirth-bg-color);
}
#rebirth > .project_card {
  background-color: var(--rebirth-card-color);
}

.project_card {
  text-decoration: none;
  overflow: hidden;
  background-image: var(--card-bkg-img);
  background-color: var(--card-bkg);
  background-repeat: repeat;
  padding: 10px 40px 40px 40px;
  width: 40%;
  max-width: 890px;
  width: clamp(420px, 40%, 890px);
  border-color: var(--border-color);
  border-width: var(--surface-border-static);
  border-style: solid;
  filter: var(--shadow-normal);
  transition: var(--animation);
}

.project_card:hover {
  cursor: pointer;
  transform: rotate(-4deg) translateY(calc(-10px - 0.5px)) scale(1.2);
  filter: var(--shadow-hover);
}

.footer > a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
}

.footer > a > h2 {
  transform: rotate(180deg);
}

.footer {
  scroll-snap-align: end;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--p-size);
  color: var(--text-color);
  opacity: 60%;
  padding: 20px;
  /* bottom: 10px; */
}
