@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

:root {
  --bg-color-light: #fce2e2;
  --bg-color-dark: #504242;

  --border-color-light: black;
  --border-color-dark: white;

  --surface-color-normal-light: white;
  --surface-color-normal-dark: #333333;

  --surface-color-hover-light: #c5c5c5;
  --surface-color-hover-dark: black;

  --problem-color: #f50202;
  --process-color: #f5a302;
  --solution-color: #13d402;
  --surface-border-normal: 0.2em 0.4em 0.4em 0.2em;
  --surface-border-hover: 0.4em 0.2em 0.2em 0.4em;
  --edge-size: 1em;
  --font: Inter;
  --animation: 100ms ease-in-out;
  --lamp-hero: url("../images/hero/vocalamp.png");
  --whackamole-hero: url("../images/hero/whackamole.png");
  --bentwo-hero: url("../images/hero/bentwo.png");
  --ecommerce-hero: url("../images/hero/ecommerce.png");
  --watch-hero: url("../images/hero/spotifywatch.png");
  --honeycomb-hero: url("../images/hero/honeycomb.png");
}

html {
  background-color: var(--bg-color-light);
  background-image: none;
  margin: 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
  transition: var(--animation);
}

.header {
  padding: 19% 10%;
}

.content {
  align-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  font-family: Inter;
  font-weight: 500;
}

.nav {
  width: 100%;
  height: 20px;
  align-content: center;
  padding-bottom: 10px;
  border-bottom: solid #00000011;
}

.navItem {
  margin-right: 10px;
}

h1 {
  text-align: center;
  font-size: 34px;
  font-family: Inter;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-family: Inter;
  font-weight: normal;
}

h3 {
  text-align: center;
  font-size: large;
  font-family: Inter;
  font-weight: normal;
}

p {
  font-size: medium;
  font-family: Inter;
  line-height: 1.3em;
}

a.button {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: inline;
  text-decoration: none;
  color: initial;
  background: var(--surface-color-normal-light);
  border-color: var(--border-color-light);
  border-width: var(--surface-border-normal);
  border-style: solid;
  margin: 0px 10px;
  transition: var(--animation);
}

a.button:hover {
  background: var(--surface-color-hover-light);
  border-width: var(--surface-border-hover);
}

.row {
  display: flex;
  bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
}
