@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

:root {
  --bg-color: #fce2e2;
  --border-color: black;
  --surface-color-normal: white;
  --surface-color-hover: #e1e1e1;
  --problem-color: #f50202;
  --process-color: #f5a302;
  --solution-color: #13d402;
  --surface-border-normal: 2px 4px 4px 2px;
  --surface-border-hover: 4px 2px 2px 4px;
  --font: Inter;
  --animation: 100ms ease-in-out;
}

html {
  background-color: var(--bg-color);
  margin: 0px;
}

.content {
  margin: 0px auto;
  padding-top: 40px;
  width: 80%;
}

.shortcuts {
  font-size: large;
  font-family: var(--font);
  margin: 0px;
  padding-bottom: 6px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  padding: 10px;
  background-color: var(--surface-color-normal);
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-color: var(--border-color);
  border-style: solid;
}

.navButtons {
  display: flex;
  flex-direction: row;
}

.nav a {
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-color: var(--border-color);
  border-style: solid;
  transition: var(--animation);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav a:hover {
  background-color: var(--surface-color-hover);
  border-width: var(--surface-border-hover);
}

div.navText {
  font-size: large;
  font-family: var(--font);
  padding: 4px 8px 0px 4px;
}

.navhome {
  background-color: var(--surface-color-normal);
}

.navproblem {
  background-color: var(--problem-color);
}

.navprocess {
  background-color: var(--process-color);
}

.navresult {
  background-color: var(--solution-color);
}

.navSpan {
  width: 100%;
  display: flex;
  justify-content: center;
}

.heroImg {
  width: 100%;
  margin: 5px;
  background-color: var(--surface-color-normal);
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-style: solid;
  transition: var(--animation);
}

.heroImg:hover {
  background-color: var(--surface-color-hover);
  border-width: var(--surface-border-hover);
}

a {
  font-family: var(--font);
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

h1 {
  font-size: 44px;
  font-family: var(--font);
  padding-top: 0.5%;
  padding-bottom: 1%;
}
h2 {
  font-size: x-large;
  font-family: var(--font);
  margin-top: 60px;
  padding: 6px;
  background-color: var(--surface-color-normal);
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-style: solid;
}
h2.context {
  color: #8b8b8bbb;
}
h2.problem {
  color: var(--problem-color);
}
h2.process {
  color: var(--process-color);
}
h2.result {
  color: var(--solution-color);
}

h3 {
  text-align: center;
  font-size: large;
  font-family: var(--font);
  font-weight: normal;
}

p {
  font-size: medium;
  font-family: var(--font);
  line-height: 1.3em;
}

a.button {
  width: 15%;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: block;
  text-decoration: none;
  color: initial;
  background-color: var(--surface-color-normal);
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-style: solid;
  margin: 5px;
  transition: var(--animation);
}

a.button:hover {
  background-color: var(--surface-color-hover);
  border-width: var(--surface-border-hover);
}

iframe {
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-style: solid;
  margin: 5px;
}

.photogrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.gallery {
  max-width: 300px;
  margin: 5px;
  background-color: var(--surface-color-normal);
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-style: solid;
  transition: var(--animation);
}

div.gallery:hover {
  background-color: var(--surface-color-hover);
  border-width: var(--surface-border-hover);
}

div.gallery img {
  vertical-align: middle;
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
  font-size: small;
  font-family: var(--font);
  line-height: 1.3em;
}

.nextProject img{
  max-width: 500px;
}

.nextProject {
  margin: 5px;
  background-color: var(--surface-color-normal);
  border-color: var(--border-color);
  border-width: var(--surface-border-normal);
  border-style: solid;
  transition: var(--animation);
}

.nextProject:hover{
  background-color: var(--surface-color-hover);
  border-width: var(--surface-border-hover);
}

.footer {
  width: 100%;
  padding-bottom: 10%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
