.div {
  width: 100%;
  /* display: grid; */
  bottom: 30px;
  justify-items: center;
  /* align-items: flex-end; */
  position: fixed;
  gap: 10px;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 0.8fr)); */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
